<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>テンプレート</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
        <div th:if="${loginFlg}">
             <h1><img src="/img/logo.png"></h1>
             <p id="mypage"><a href="/lesson/mypage">マイページ</a></p>
             <p id="user_register_6" style="color: white;" text="userName"></p>   
        </div>
         <div th:if="${!loginFlg}">
             <h1><img src="/img/logo.png"></h1>
             <p id="mypage"><a href="/lesson/mypage">マイページ</a></p>   
        </div>
    </header>
   <article>
       <h2>申し込み予定講座</h2>
           <button class="con_btn" onclick="location.href='/lesson/menu'">メニュー一覧</button>
       <ul class="con">
           <li th:each="lesson:${list}">
               <img th:src="@{/lesson-image/{items}(items=${lesson.imageName})}">
               <div class="con_p">
                    <p th:text="${#temporals.format(lesson.startDate, 'yyyy/MM/dd')}+'('+${#temporals.dayOfWeekName(lesson.startDate)}+')'+${#temporals.format(lesson.startTime, 'HH:mm')}+'-'+${#temporals.format(lesson.finishTime, 'HH:mm')}"></p>
                    <h3 th:text="${lesson.lessonName}"></h3>
                    <p id="con_price" th:text="${lesson.lessonFee +'円(税込)'}">&nbsp;&nbsp;&nbsp;&nbsp;<a href="">講座詳細</a></p>    
                </div>  
                <button th:attr="onClick='location.href=\''+'/lesson/cart/delete/'+${lesson.lessonId}+'\''">削除</button>  
           </li>
       </ul>
       <button class="apply_btn" onclick="location.href='/lesson/request'">購入</button>
   </article>
   <footer><small>Copyright &copy;  Academy All rights reserved.</small></footer>
</body>
</html>