<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>テンプレート</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<header>
		<div>
			<h1></h1>
			<p id="user_register_5">ID:suzuki@-ac.jp</p>
		</div>
	</header>
	<article>
	    <h2 th:text="${userEmail.mail}">パスワード変更</h2>
		<h2>パスワード変更</h2>
		<form th:action="@{/user/change/password/complete}" method="post">
		<div class="register_5">
			　　　　　　<table class="register_5_table">
				<tr>
					<th>新しいパスワード</th>
					<td>
						<input type="text" name="password">
					</td>
				</tr>
				<tr>
					<th>新しいパスワード(確認用)</th>
					<td>
						<input type="text" name="passwordConfirm">
					</td>
				</tr>
			</table>
			　　　　</div>
			<input type="hidden" th:value="${userEmail.mail}" name="userEmail">
		<button class="register_5_btn">変更</button>
		</form>
	</article>
	<footer><small>Copyright &copy; Akros Web & Business Design Academy All rights reserved.</small></footer>
</body>

</html>